*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.active{
  background-color: #7070db;
  color: white !important;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}
.ant-table{
  height: calc(100vh - 330px) !important;
  overflow: auto;
}
.gutter-row{
  padding: 12px 0px;
}
.inputBox{
  padding: 14px;
}
.inputpasswordBox{
  padding: 11.5px;
}
.selectBox{
  height: 55px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.createText{
  color: #7070db !important;
}
.createContainer{
  position: relative;
  height: calc(100vh - 90px);
}
.btnGroup{
  position: absolute;
  bottom: 5%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cancel{
  width: 200px;
  height: 40px;
  letter-spacing: 2px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.print{
    width: 140px;
    height: 40px;
    letter-spacing: 2px;
}
.cancel1{
  width: 200px;
  height: 40px;
  background-color: #7070db !important;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}
:where(.css-dev-only-do-not-override-1a3rktk).ant-input-affix-wrapper{
  font-size: 18px !important;
}
.AddBtn{
  padding: 30px;
}
.btnAdd{
  width: 200px;
  height: 50px;
}
.btnAdd1{
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.tableOrder{
  overflow: auto;

  .ant-pagination{
    display: none;
  }

  .ant-table{
    height: 170px !important;
  }
}
.scanner{
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}
.scannerContainer{
  width: 80px;
  height: 80px;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modalBtn{
  margin-right: 10px;
  width: 150px;
  height: 40px;
}
.ant-modal-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-title{
  text-align: center;
  font-size: 22px !important;
  color: #7070db !important;
}
.completeBox{
  height: 50px;
}

.tableAddOrder{
  overflow: auto;

  .ant-pagination{
    display: none;
  }

  .ant-table{
    height: 150px !important;
    margin-bottom: 20px;
  }
}
:where(.css-1a3rktk).ant-typography+h1.ant-typography, :where(.css-1a3rktk).ant-typography+h2.ant-typography, :where(.css-1a3rktk).ant-typography+h3.ant-typography, :where(.css-1a3rktk).ant-typography+h4.ant-typography, :where(.css-1a3rktk).ant-typography+h5.ant-typography{
  margin-top: 0rem !important;
}

.loginContainer{
  position: relative;
  height: 100vh;
}

.form{
  max-width: 440px;
  width: 100%;
  box-shadow: 1px 1px 3px black;
  padding: 20px;
  position:absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,10%);
  border-radius: 10px;
}
.form1{
  max-width: 440px;
  width: 100%;
  box-shadow: 1px 1px 3px black;
  padding: 20px;
  position:absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,10%);
  border-radius: 10px;
}
.btnContainer{
  display: flex;
  gap: 10px;
}
.customer{
  width: 100%;
  height: 40px;
  box-shadow: 1px 1px 1px black;
  border: none;
}
.loginText{
  text-align: center;
  text-transform: uppercase;
  color: #7070db !important;
  padding: 10px;
  letter-spacing: 3px;
}
.loginButton{
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.inputContainer{
  margin-top: 10px;
}
.register{
  cursor: pointer;
}
.register:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
/* :where(.css-dev-only-do-not-override-1a3rktk).ant-input:placeholder-shown{
  height: 40px;
} */
.stock{
  text-align: end;
  margin-top: 10px;
}
.qtyText{
  color: red !important;
}
.qty{
  margin-top: 10px;
}
.boxText{
  text-transform: capitalize;
}